@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
  /* General Styles */
.flex-col {
  flex-direction: column; /* Default to a vertical layout */
}

.flex-gap-2 {
  gap: 1rem; /* Adjust spacing as needed */
}

input, select { 
  width: 100%; /* Make inputs take available space */
  box-sizing: border-box; /* Prevent padding from expanding elements */
  margin-bottom: 0.5rem; /* Add a little margin between elements */
}

/* Media Query for Larger Screens */
@media (min-width: 768px) { /* Adjust the breakpoint if needed */
  .md:flex-row {
    flex-direction: row; 
  }

  .lg:flex-row { 
    flex-direction: row; 
    justify-content: space-between; /* Adjust how to distribute extra space*/
  }
}

@media (max-width: 768px) {  /* Targets screens less than 768px wide (common phone breakpoint) */
  .h-16 {  /* Target the top bar class */
    height: auto;  /* Allow the height to adjust to content */
  }
  .text-5xl {  /* Target the heading class */
    font-size: 1.5rem;  /* Reduce heading size on phones */
      
  }
  .p-20 {  /* Target the padding class */
    padding: 30px;  /* Reduce padding on phones */
  }
}
@media (max-width: 640px) { 
  .px-12 {
    padding-left: 1rem; 
    padding-right: 1rem; 
  }

  .text-2xl {
    font-size: 1.5xl; 
  } 
}